.Container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  border-radius: 8px;
  background: transparent;
  color: white;
}

.ContentContainer {
  display: flex;
  min-height: 90vh;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #000000, #434343);
}

.transparent-button {
  height: 50px;
  width: auto;
  margin: 50px;
  background-color: transparent; /* Transparent background */
  color: white; /* White text color */
  border: 2px solid white; /* White rectangular border */
  padding: 10px 20px; /* Padding for the button */
  font-size: 30px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background on hover */
}

.spacer {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
}