.Container1 {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  border-radius: 8px;
  background: transparent;
  color: white;
}

.ContentContainer1 {
  display: flex;
  min-height: 86vh;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #000000, #434343);
}

.transparent-button {
  height: 50px;
  width: auto;
  margin: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.spacer {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
}