.GlobalHeader1 {
    height: 90px;
    /* background-color: rgb(17, 42, 70); */
    background: linear-gradient(45deg, #000000, #434343);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.LogOutButton1 {
    width: auto;
}

.WhiteText1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: aliceblue;
}

/* src/components/Button.css */
.transparent-button1 {
  margin-top: 15px;
  height: auto;
  background-color: transparent; /* Transparent background */
  color: white; /* White text color */
  border: 2px solid white; /* White rectangular border */
  padding: 10px 20px; /* Padding for the button */
  font-size: 30px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.transparent-button1:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background on hover */
}

.spacer1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
}