.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px - 56px);
}

.login-form {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #000000, #434343);
  color: white;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

hr {
  border: 0;
  border-top: 1px solid white;
  margin: 10px 0 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 1px;
  background-color: transparent;
  color: white;
  placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
