.message-area {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.fixed-top-center {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.message-container {
  width: 100%;
}

.message {
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  width: fit-content;
  max-width: 100%; /* Ensure the message bubble doesn't exceed the container width */
  word-wrap: break-word; /* Wrap long words within the bubble */
  white-space: pre-wrap; /* Preserve whitespace and ensure text wraps */
  word-break: break-word; /* Break words if they exceed the bubble width */
}

.message-left {
  background-color: #f1f1f1;
  text-align: left;
}

.message-right {
  background-color: #007bff;
  color: white;
  text-align: left;
  margin-left: auto; /* Align to the right */
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* .message-right .message-header {
  flex-direction: row-reverse; Reverse the order for right-aligned messages
} */

.username {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
}

.message-right .timestamp {
  color: #e0e0e0; /* Lighter color for the timestamp in the right-aligned messages */
  text-align: right;
}

.message-text {
  margin-top: 5px;
}

.connect-element {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
